* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
}

:root {
    --main-background-color: #01081A;
    --main-text-color: #F9F9F9;
    --main-hover-color: #CE67FF;
    --main-footer-color: #1B1F28;
  }

 