:root {
    --main-background-color: #01081A;
    --main-text-color: #F9F9F9;
  }
  @keyframes heroMove {
    from {transform: translateY(500px);}
    to {transform: translateY(0px);}
  }
/* DESKTOP-----------------------------> */
  @media screen and (min-width: 600px)
  {
    .storeName{
        position: absolute;
        top: 400px;
        width: 80%;
        left: 50%;
        transform:  translateX(-50%);
        text-align: center;
        font-size: 120px;
    }

    .phoneScroll {
        justify-content: space-around;
        gap: 0;
        min-width: 70rem;
    }

  }

body{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;

}
h1{
    margin: 0;
    padding: 0;
}
p{
    font-size: 30px;
}
li{
    font-size: 25px;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu{
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: orange;
    width: 75%;
    height: 75%;
}

.menuOpen{
    opacity: 1;
}


header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
}

.hamburger
{
    width: 50px;
    height: 55px;
}
.hamburgerImage{
    width: 100%;
    height: 100%;
}

.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.hero img{
    width: 100%;
    height: 100%;
    animation: heroMove 1s ease;
    object-fit: contain;
    z-index: -1;
}

.storeInfo{
    width: 100%;
    height: 75vh;
    border: 3px solid white;
    background-color: var(--main-background-color);
}

.phoneScroll{
    height: 100vh; 
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: flex;
    align-content: center;
    gap: 20px;
    overflow-x: auto;
    /* overflow-y: hidden; */
}

.phoneScroll .phone {
    min-width: 20rem;
    height: 100%;
    line-height: 20rem;
    background-color: aqua;
}