* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background-color: #01081A;
    --main-text-color: #F9F9F9;
    --main-hover-color: #CE67FF;
  }
  @keyframes heroMove {
    from {transform: translateY(500px);}
    to {transform: translateY(0px);}
  } 
   @keyframes nameTextFadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
  }
/* DESKTOP-----------------------------> */




body{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

}

.mainFooter{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.copyright{
    height: 50px;
    width: 100%;
}
.copyright p{
    font-size: 16px;
    padding-left: 30px;
}

.mainFooter section{
    padding-left: 30px;
}

footer p{
    padding-bottom: 25px;
}

footer .mainFooter p:hover{
    cursor: pointer;
    color: var(--main-hover-color);
}

h1{
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 5px rgb(91, 89, 89);
}

h2 {
    font-size: 2.5rem;
    padding: 0;
    padding-top: 0.5rem;
    margin: 0;
}
p{
    font-size: 30px;
}
li{
    font-size: 25px;
}
main{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
}

.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.hero img{
    width: 100%;
    height: 100%;
    animation: heroMove 1s ease;
    object-fit: contain;
    z-index: -1;
}

.storeInfo{
    height: 75vh;
    background-color: var(--main-background-color);
    text-align: center;
    padding-top: 200px;
}




.phoneScroll{
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 20px;
    overflow-x: auto;
    /* overflow-y: hidden; */
}

.titleContainer{
    padding-bottom: 30px;
}
.titleContainer h2{
    text-align: center;
    font-size: 56px;
}

.phoneScroll .phone {
    min-width: 20rem;
    height: 80%;
    /* line-height: 20rem; */
     overflow-y: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.phoneText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
   width: 80%;
}
.phoneText h2{
    text-align: center;
}
.phoneText h3{
    text-align: center;
}
.phoneInfoList{
    padding-left: 30px;
}

.phoneText p {
    font-size: 16px;
    line-height: 1.5;
}


.phoneText h3 {
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.phoneImage {
    width: 100%;
    height: 50%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.phone:hover{
    color: var(--main-hover-color); 
}

.phoneImage:hover{
    cursor: pointer;
}
.phone:hover h2{
    color: var(--main-hover-color);
    cursor: pointer;
}


article {
    margin-bottom: 5rem;
}


@media screen and (min-width: 1024px)
{
  .storeName{
      position: absolute;
      top: 400px;
      width: 80%;
      left: 50%;
      transform:  translateX(-50%);
      text-align: center;
      font-size: 120px;
      animation: nameTextFadeIn 2s cubic-bezier(0.5, 0, 1, 0.5 );

  }
  .phoneScroll{
      overflow-x: hidden;
      justify-content: space-around;
  }
  .phoneScroll .phone {
    min-width: 0px;
    height: auto;
    /* line-height: 20rem; */
     overflow-y: hidden;
}

.phoneImage {
    width: 100%;
    height: 40%;
    background-image: url("images/se-galaxy-s22-s901-sm-s901bzggeub-530830399.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainFooter{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.storeInfo p{
    padding-left: 150px;
    padding-right: 150px;
}

}